<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="RestApi">
        <classes>
            <class name="tests.RestApiTest">
                <methods>
                    <include name="getAllPosts"/>
                    <include name="getPostNumber99"/>
                    <include name="getPostNumber150"/>
                    <include name="setDataPost"/>
                    <include name="getAllUsers"/>
                    <include name="usersEquals"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>