<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Task3">
        <classes>
            <class name="test.Testing">
                <methods>
                    <include name="authTest"/>
                    <include name="alertsTest"/>
                    <include name="horizontalSliderTest"/>
                    <include name="hoversTest"/>
                    <include name="iFrameTest"/>
                    <include name="jsAlertTest"/>
                    <include name="infiniteScrollTest"/>
                    <include name="uploadTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>